@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    background:
        linear-gradient(180deg, #DBD3FF 40%, #dbd3ff00 100%),
        url("./assets/pattern.png"),
        #DBD3FF;
    box-shadow: 0px -8px 0px 0px rgba(219, 211, 255, 0.56);
    -webkit-box-shadow: 0px -8px 0px 0px rgba(219, 211, 255, 0.56);
    -moz-box-shadow: 0px -8px 0px 0px rgba(219, 211, 255, 0.56);
}